@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Define CSS variables for light and dark themes */
:root {
  --background: #ffffff;
  --foreground: #1a202c;
}

.dark {
  --background: #1a202c;
  --foreground: #edf2f7;
}

/* Apply variables to body */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Prevent transition on page load */
.preload * {
  transition: none !important;
}

/* Utility classes using CSS variables (with Tailwind config) */
.bg-background {
  background-color: var(--background) !important;
}
.text-foreground {
  color: var(--foreground) !important;
}
/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
